:root {
  --text-color: #CECECE;
}


* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #1D2532;
  color: var(--text-color);
}

/** Navigation **/

nav {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: hidden;
  transition: width 0.2s linear;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.logo {
  text-align: center;
  display: flex;
  transition: all 0.5s ease;
  padding-bottom: 26px;
  margin-left: 25px;
}

a {
  position: relative;
  color: var(--text-color);
  font-size: 14px;
  display: table;
  width: 300px;
  padding: 10px;
}

.icon-logo {
  position: relative;
  top: 10px;
}

.icons {
  position: relative;
}

.nav-item {
  position: relative;
  margin-left: 10px;
  color: var(--text-color);
  align-items: center;
  justify-content: center;
}

.active {
  position: relative;
  border-left: solid;
  border-color: #6666CC;
  border-width: 4px;
  color: #000;
}

/** Homepage **/

.ml50 {
  margin-left: 850px;
}
